.loginForm {
    position: absolute;
    z-index: 1;
    display: none; 
}

.container-fluid {
    width: 80%;
}

#user_menu {
    margin-left: 15px;
}

footer {
    position: fixed; 
    bottom: 0; 
    width: 100%;
}

footer nav {
    text-align: center;
}

footer a {
    font-family: 'Kaushan Script', cursive; 
    color: #ffffff;
    font-size: 45px;
    pointer-events: none
}

i {
    color: #ffffff;
    text-decoration: underline;
}

.active {
    z-index: -1;
}

span {
    color: #ffffff;;
}
