/* body {
    background-color: #ece7e4;
}

.container {
    background-color: #ffffff;
    -webkit-box-shadow: 1px 6px 17px 14px rgba(255,255,255,1);
    -moz-box-shadow: 1px 6px 17px 14px rgba(255,255,255,1);
    box-shadow: 1px 6px 17px 14px rgba(255,255,255,1);
} */

.loginForm {
    position: absolute;
    z-index: 1;
    display: none; 
}

.registerForm {
    position: absolute;
    z-index: 1;
    display: none;
}

.hide_login_register_btns {
    display: none;
}

.container-fluid {
    width: 80%;
}

#user_menu {
    margin-left: 15px;
}

.hidden_logout_btn {
    display: none;
    margin-left: 15px;
}

#new_admin_regist {
    display: block;
}

footer {
    position: fixed; 
    bottom: 0; 
    width: 100%;
}

footer a {
    font-family: 'Kaushan Script', cursive; 
}

i {
    color: #ffffff;
    text-decoration: underline;
}

span {
    color: #ffffff;;
}
